/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  /* color palette Portfolio*/
  --vt-c-black: #181818;
  --vt-c-green: #157F1F;
  --vt-c-white2: #FDFFFF;


  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: black;
  background: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#curriculumCardContainer {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 45px
}

#exp {
  color: black;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

#data {
  color: black;
  grid-column: 3;
  grid-row: 1 / 5;
  background-image: url(../assets/backgroungImageBasicGreen.jpg);
  background-size: cover;
  color: white;
  padding: 20px;
}


#imgProfile {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#imageWrapper {
  width: 100%;
}

h1 {
  margin: 40px;
  font-size: 55px;
}

h2 {
  text-align: center;
}

h3 {
  margin: 20px;
  text-decoration: underline;
  text-decoration-color: var(--vt-c-green);
}

h5 {
  text-decoration-color: var(--vt-c-green);
}

.langueNom {
  display: block;
  width: 120px !important;
}

#francais {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 15px;
  background-color: #157F1F;
  border-radius: 15px;
}

#ndls {
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  height: 15px;
  background-color: #157F1F;
  border-radius: 15px;
}

#anglais {
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  height: 15px;
  background-color: #157F1F;
  border-radius: 15px;
}

.listLangue {
  display: flex;
}

span.lvl {
  width: 250px;
  margin-left: 25px;
}

.lvlMax {
  margin-top: auto;
  margin-bottom: auto;
  width: 250px;
  height: 15px;
  background-color: darkgray;
  border-radius: 15px;
}

#formation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#dateFromation1 {
  grid-column: 1;
  grid-row: 1;
}

#dateFromation2 {
  grid-column: 1;
  grid-row: 2;
}

#dateFromation3 {
  grid-column: 1;
  grid-row: 3;
}

#descriptionFormation1 {
  grid-column: 2/4;
  grid-row: 1;
}

#descriptionFormation2 {
  grid-column: 2/4;
  grid-row: 2;
}

#descriptionFormation3 {
  grid-column: 2/4;
  grid-row: 3;
}

#experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#dateExp1 {
  grid-column: 1;
  grid-row: 1;
}

#dateExp2 {
  grid-column: 1;
  grid-row: 2;
}

#dateExp3 {
  grid-column: 1;
  grid-row: 3;
}

#dateExp4 {
  grid-column: 1;
  grid-row: 4;
}

#descriptionExp1 {
  grid-column: 2/4;
  grid-row: 1;
}

#descriptionExp2 {
  grid-column: 2/4;
  grid-row: 2;
}

#descriptionExp3 {
  grid-column: 2/4;
  grid-row: 3;
}

#descriptionExp4 {
  grid-column: 2/4;
  grid-row: 4;
}

.contactInfo {
  margin: 10px;
}

/*   background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)) url(../assets/backgroungImageBasicGreen.jpg); */

#front {
  background-image: url(../assets/backgroungImageBasicGreen.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;

}

#titleCv {
  animation-name: pop;
  animation-duration: 2s;
  color: black;
  margin: 5px;
  font-weight: bolder;
  font-size: 55px;
  text-align: center;
}

@keyframes pop {
  from {
    opacity: 0;
    position: relative;
  }

  to {
    opacity: 1;
    position: relative;
  }
}

#app {
  padding: 0px !important;
}

a div:hover img {
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 500ms ease-in-out;
  color: white;
}

a div:hover span {
  transition: color 300ms ease-in-out;
  color: white;
}

div#contact ul li {
  list-style: none;
}

div#technologies ul li {
  list-style: none;
}

div#skills ul li {
  list-style: none;
}

div#interrests ul li {
  list-style: none;
}


.personnalProject {
  display: flex;
  margin-top: 50px;
}

.projectImageWrapper img{
  width: 1100px;
}

button {
  border: 0px solid;
  background-color: green;
  border-radius: 5px;
  padding: 15px 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  font-weight: 900;
  font-size: 17px;
}

button:hover {
  border-radius: 5px;
  color: black;
}

label {
  display: block;
}

input {
  display: block;
}

.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.socialLink {
  border-right: 2px solid #eee;
  padding: 1.2em;
}

.socialIcon {
  width: 32px;
}

#projectLink {
  padding: 1.2em;
  font-size: 17px;
  color: black;
}


#personnalDescription {
  text-align: center;
  background-color: white;
  color: black;
  width: 700px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

#projectText {
  font-weight: bolder;
  font-size: 18px
}

#description {
  text-align: center;
  background-color: white;
  color: black;
  width: 700px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

#socialWrapper {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 501.1px;
  display: flex;
  border: 2px solid white;
  position: absolute;
}

div#imageWrapper img {
  margin-top: 15px;
  margin-bottom: 15px
}

.techLogoWrapper {
  justify-content: center;
  display: flex;
  margin: 15px !important;
}

.techLogo{
  width:55px;margin:20px;
}
.projectImageWrapper{
  justify-content: center;
  align-items: center;
  display: flex;
}
